/* fonts */
@font-face { font-family: 'myfont'; src: url('../fonts/DroidKufi-Bold.eot') ;}
@font-face { font-family: 'myfont'; src: url('../fonts/DroidKufi-Bold.woff') ;}
@font-face { font-family: 'myfont'; src: url('../fonts/DroidKufi-Bold.ttf') ;}
* {border:0px;padding:0px;margin:0px;	text-align:right; outline:0;}

/* general */
body {background:url(../images/techx6-hover_02-07.png) repeat-x;margin:0px; font-family:myfont;}
#body {background:url(../images/bg2.png) repeat;}
.clear {clear:both;}
a {text-decoration:none;}
a:hover {text-decoration:none; color:#cc0033;}

/* top menu */
.main {margin:auto;width:950px; position:relative; padding-bottom:70px;}
.but2 {background:url(../images/techx6-hover_02-07.png)	 repeat-x;height:65px; min-width:1000px;}
#topmenu ul {list-style:none;	margin: 0px;}
#topmenu ul li { height:35px; float:right;padding:12px 20px 0px 20px; background:url(../images/bg_but.png) no-repeat left top;cursor:pointer;}
#topmenu ul li a {color:#d4d4d4;text-decoration:none;font-family:myfont;font-size:13px;font-weight:normal;text-shadow: 2px -1px #000; }
#topmenu ul li:hover  {background:url(../images/bg_but2.png) repeat-x;border-left:1px solid #282b2c;padding:10px 20px 4px 19px;height:33px;}
#topmenu ul li:hover  a {color:#FFF;}
#topmenu ul li ul{display:none;position: absolute;z-index: 1000;}
#topmenu ul li:hover ul{display:block;}
#topmenu ul li ul li{float: none;background: url("../images/techx6-hover_02-07.png") repeat-x scroll 0 0 transparent;padding: 9px!important;text-align: center;}

/* site map */
.tree {background:url(../images/bg_tree.png) repeat-x;border:1px solid #cccccc;height:40px;margin-top:10px; direction:rtl;}
.tree .icon {float:right;padding-top:12px;padding-right:10px;}
.tree .sitemap{color: gray; float: right; font-family: myfont; font-weight:normal; font-size: 13px; padding-right: 5px; line-height:38px;  text-decoration: none; text-shadow: 0 1px 1px white;}
.corner {-khtml-border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;	}
.user { float:left; direction:ltr; font-family:myfont; }
.user .nav{margin-top:0px; margin-left:0px;}
.user .profileimg{width:25px; height:25px; margin-top:-5px; border:1px solid #cccccc; padding:1px;}
.user .dropdown-menu {font-size: 11px;}
.user .dropdown-toggle {height:20px; font-size: 14px; font-family:Arial; font-weight:bold;}
.user .dropdown-toggle .caret {margin-top:5px; padding-left:2px;}
.user .dropdown-menu img { display:inline-block; padding-left:10px;}
.user .name{padding-left:8px; margin-top:-4px;}

/* side menu */
.rightmenu { font-family:myfont; font-weight:normal;}
.rightmenu #menucontainer {float:right;}
.rightmenu .accordion{width:200px;}
.rightmenu .accordion-heading{ height:38px; text-align:center;  -khtml-border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; background:url(../images/bg_tree.png) repeat-x; text-shadow: 0 1px 1px white; }
.rightmenu .accordion-toggle {line-height:23px; color:#309fe4; text-align:center; text-decoration:none; font-size:11px;}
.rightmenu .accordion-toggle img{float:left; margin-top:8px;}
.rightmenu .accordion-body li{ width:160px; margin-left:-5px; background:url(../images/li_arrow.png) no-repeat right 15px; list-style:none; padding:10px 20px 10px 0; border-top:1px solid #fff; border-bottom:1px solid #d7d7d7;}
.rightmenu .accordion-body li a{  text-decoration:none; color:#000000; font-size:10px; }
.rightmenu .accordion-body li a:hover{color:#cc0033;}
.rightmenu .accordion-body li.first { border-top:none;}
.rightmenu .accordion-body li.last { border-bottom:none;}
.rightmenu .accordion-inner{padding-right:0px;}


/* notifications */
.messages { position: relative; width: 949px; height:45px; }
.notifications{float: left; width: auto; direction: rtl;}
.notifications .tooltip_help{ float: left; height:35px; width:auto;}
.notifications .general {float: left; border-right: 1px solid #cccccc; padding-right: 10px; width:auto; height:35px;}
.notify{position:absolute; margin-right:15px; text-align:center; border-radius:3px; margin-top:-8px; color:White; width:auto; min-width:25px; height:auto; background-color:#e02211; border:1px solid #474747;}
.notify2{font-family: myfont; font-size: 9px; color: Gray; display: inline-block; margin-top:7px;}
.popover {margin-left:70px;}
.popover-inner {margin-top:7px; width:320px;}
.popover.bottom .arrow {border-right: 12px solid transparent;border-left: 12px solid transparent;border-bottom: 13px solid #ffffff;}
.popover-title{ position:absolute; bottom:0px; border-bottom:none; border-top: 1px solid #eee; width:290px; height:20px; border-radius: 0 0 3px 3px; margin-bottom:6px;}
.popover-content {padding-left:0px;padding-right:0px; height:auto; max-height:380px; overflow-Y:auto; margin-bottom:39px;}
.popover.bottom .arrow {right: 70%;}
.showall{ color: #20BED4;font-family:myfont; font-size:11px; text-shadow: 0 1px 1px white; position:absolute; width:315px; height:35px;top:0px; left:0px;}
.showall div{width:100px; margin-top:12px; margin-left:100px; }
.mess {font-family:myfont; width:100%; direction:ltr; border-bottom:1px dotted #cccccc; padding-bottom:9px; padding-top:9px; position:relative;}
.mess .close{float:left; background:url(../images/delete_gray.png) no-repeat; margin-top:-5px; width:16px; height:16px; margin-left:5px;}
.mess .close:hover{background:url(../images/delete_red.png) no-repeat; opacity: 1; }
.mess:hover {background-color:#f4f6f9;}
.img_cont{ width:40px;  height:40px; max-width:40px;  max-height:40px; padding:2px 2px 5px 2px;  background-color:#ffffff; border-color: #ccc;	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;border-width: 1px;}
.img_cont img{ width:40px; height:40px;}
.more_cont{color:#20BED4;  direction:ltr; background-color:#f5f5f5; bottom:0px; position:absolute; border-top: 1px solid #cfcfcf; width:738px; margin-right:-10px; height:50px; text-align:center;}
.movetop {cursor:pointer;  width:60px; margin-right:20px;}
.more {cursor:pointer; width:860px; color:#0597e0; font-size:11px;}
.more:hover{color:#cc0033;}
#more{text-align:center;}
.loading_cont{background-color: #ffffff; filter: alpha(opacity=80);opacity: 0.8; width:100%; height:100%; position:absolute; top:0px; text-align:center; display:none;}

/* middle content */
.content {padding-top:25px; }
.header {direction: rtl; margin-top:10px; float:right;  width:auto; margin-right:20px;}
.headerimg{display:inline-block;}
.headertitle{display:inline-block;color: #20BED4; font-family: myfont;font-weight:normal;  font-size: 13px; padding-right: 5px; text-decoration: none; text-shadow: 0 1px 1px white;}
.middle_cont {margin-left:0px;	width:740px;float:left; min-height:250px;}
.middle_cont_home {width:925px;}
.items { position:relative; min-height:250px; color: #333333;font-family: myfont; font-size: 13px;direction:rtl;padding: 10px; padding-bottom:120px; border: 1px solid #B2B2B2;list-style: none;background-color: #ffffff;border-color: #ccc;border-color: rgba(0, 0, 0, 0.2);
border-style: solid;border-width: 1px;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;*border-right-width: 2px;*border-bottom-width: 2px;}
.items_home {width:925px; height:auto;}
.items .data_cont{font-size:11px; text-shadow: 0; padding:0px; margin-right:2px; }
.items .data_cont .block_title{position:relative; border-top: 1px solid #cccccc; background-color: #f4f4f4; padding-top:5px; height: 35px; width: 705px; text-align: right; padding-right: 10px; color: #3388cc; text-shadow: 0 1px 1px white; font-family: myfont; font-size: 13px; margin-top:20px; margin-bottom:10px;}
.items .data_cont .block_title .edit{font-size:10px; float:left; padding-left:10px; cursor:pointer; color:#3388cc; margin-top:5px;}
.items .data_cont .block_title .edit:hover{color:#cc0033;}
.items .data_cont .block_title .adding_load{background-color:#ffffff; color:#000000;  opacity:0.8; width:100%; text-align:center; line-height:40px; display:none; font-size:11px; position:absolute; top:0; left:0; }
.items .middle_footer{height:95px; width:100%; position:absolute; left:0; bottom:0px;}
.items .controls_cont { padding:13px 14px 0 0; height: 50px; width:725px;  direction:rtl; border-top: 1px solid #cccccc; background-color:rgba(0, 0, 0, 0.03)}
.btn {width:90px; height:35px; font-family:myfont; font-size:12px; float:right;}
.req_note { margin-right:10px; font-family:myfont; font-size: 10px; direction: rtl; text-align: right;}
.message_count {border-bottom:2px solid #cccccc; text-align:right; margin:40px 10px 0 10px; padding-right:10px; padding-left:10px;}
.message_count .print {font-family:myfont; font-size: 13px; direction: rtl; text-align: right; margin-top: -8px; cursor:pointer; float:left;}
.validation_sammary{border:1px dashed #cc2323; background-color:#f2dede; padding:10px 10px 0 10px; text-shadow: 0 1px 1px white; direction:rtl; margin:10px; color:#cc2323;}

/* footer */
.footer2 {background: url("../images/techx6-hover_02-07.png") repeat-x scroll 0 -1197px transparent; height: 50px; width:100%; min-width:1000px;position:fixed;bottom:0;}
.footer {padding-top:7px;	height:40px;}
.footer p {color: #ffffff;float: right; font-family: myfont; font-size: 10px; padding-top: 6px; width: 290px;}
.footer p  span{font-size:14px;}
#footer-left {padding:6px 0 0 0;float:left;margin-left:-50px; width:400px;}
#footer-left  span{font-size:14px;}

/* modal */
.modal-body{font-family: myfont; font-size: 11px;direction:rtl;padding:30px 20px 0px 20px;}
.modal-body table{margin-bottom:20px;}
.modal-body .req_note{margin-right:-10px;}
.modal-header .titletext {font-size:13px; color:#20BED4; font-weight:normal;}
.modal-header h3 img{padding-left:10px;}
.mess .dropdown-toggle {background: none; border:1px solid #cccccc; outline:none; height:22px; margin-top:-1px; width:40px; margin-left:20px; }
.mess .dropdown-toggle img{margin-top:-3px;}
.mess .dropdown-menu {width:120px; cursor:pointer; font-size:10px;}
.tooltip{font-size:10px;}
.tooltip.top {margin-top: -4px;}


/* others */
.lined_table td{border-bottom:1px dotted #cccccc; font-family:myfont; }
.highlighted_table tr:hover {background-color:#f1efef;}
.lined_table .last{border-bottom:none;}
.normal_table td{border-bottom:none;}
.normal_table tr{ margin-left: 10px;}
.checklist label{display:inline-block; padding-right:5px; font-family:myfont; font-size: 11px; padding-top:10px; padding-left:0px;}
.checklist td{border-bottom:0; width:150px;}
.radiobtn label{display:inline-block; font-size:11px; padding-right:5px;}
.radiobtn_img label{display:inline-block; font-size:11px; padding-right:28px;}
.checkbtn label{display:inline-block; font-size:11px; padding-right:5px;}
.txtbox{width:200px; margin-bottom:5px; margin-top:5px; font-family:myfont; font-size: 11px; text-align:center; color:Black;}
.txt_help{width:172px;}
.dropdownlist{width:210px; direction:ltr; margin-bottom:5px; margin-top:5px; font-family:myfont; font-size: 11px; text-align:center; color:Black; padding:3px;}
.day{width:50px; padding-left:10px; background-color:White;}
.date{width:127px;}
.btn {font-family:myfont;}
.gridview {width:715px; margin-left: 10px; margin-top: 10px;}
.gridview th{font-size:11px; font-weight:normal; border-bottom:2px solid #cccccc;}
.gridview td{border-bottom:1px dotted #cccccc; font-size:11px; height:50px;}
.gridview .dropdown-toggle {background: none; border:1px solid #cccccc; outline:none; height:22px; margin-top:-1px; width:40px; margin-left:20px; }
.gridview .dropdown-toggle img{margin-top:-3px;}
.gridview .dropdown-menu {width:120px; cursor:pointer; font-size:10px; direction:ltr;}
.watermark {color:#cccccc; font-family:myfont; text-align:center; font-size:11px; margin-bottom:5px; margin-top:5px;}
.nav-tabs{ width: 710px; font-size: 12px; margin-top: 10px;}
.nav-tabs  li{ min-width:100px;}
.nav-tabs  li a{ text-align:center;}

/* img box */
.thumbnails{padding:10px;}
.span4{width:211px; margin:10px;}
.span4 a{text-decoration:none;}
.thumbnail{text-align:center; color: #20BED4; font-family: myfont; font-size: 13px; text-decoration: none; text-shadow: 0 1px 1px white; padding:5px}
.thumbnail .cont{background:url(../images/gradint.png) no-repeat; position:relative; overflow: hidden; text-align: center; border: 1px solid #cccccc; min-height:80px; border-radius: 5px; padding: 15px;}
.thumbnail img{padding:0 0 10px 0;}

.cont .text{height:85px; display:table-cell; vertical-align:middle; width:211px; text-align:center; font-size:16px;}
.hint {-webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; -ms-transition: all 300ms ease-out; transition: all 300ms ease-out;
        position:absolute; display:block; text-align:center; width:100%; font-size:10px; bottom: -35px; left:0px; height:35px; background-color:Black; color:White; filter: alpha(opacity=80);opacity: 0.8;}
.hint div{height:35px; display:table-cell; vertical-align:middle; width:211px; text-align:center; line-height:15px;}
.thumbnail .cont:hover .hint{-moz-transform: translateY(-100%);-o-transform: translateY(-100%);-webkit-transform: translateY(-100%);}

/* saving data */
.modalPopup{background-color: #000000;filter: alpha(opacity=80);opacity: 0.8;xindex:-1;}
.saveing_loading{background-color: White; width: 400px; height: 130px; margin-top: -150px; text-align: center; vertical-align: middle; border-radius: 8px;}
.loading_img{margin-top: 20px; margin-bottom: 10px;}
.loading_text{font-size: 10px; text-align:center; color: Black;}
#savingStatus{height: 60px; margin-top: 20px; text-align:center;}
#savingbuttons{height: 50px; width: 100%; border-top: 1px solid #eeeeee;}
#saving {position: fixed; z-index: 9999999999; background-color: White; width: 400px; height: 130px; top: 30%; left: 35%; margin-top: -22px; text-align: center; display: none; vertical-align: middle; border-radius: 8px;}

/* search */
.search_cont2{overflow-Y: auto;  border: 1px solid #B2B2B2;  width: 713px; min-height:500px;  z-index: 99999;list-style: none	background-color: #ffffff;
	border-color: #ccc;	border-color: rgba(0, 0, 0, 0.2);	border-style: solid;	border-width: 1px;	-webkit-border-radius: 5px 5px 5px 5px; margin-bottom:-30px;
	-moz-border-radius: 5px 5px 5px 5px;	border-radius: 5px 5px 5px 5px;	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);	-webkit-background-clip: padding-box;	-moz-background-clip: padding;	background-clip: padding-box;	*border-right-width: 2px;	*border-bottom-width: 2px;	}
#search_container{overflow-x:no-display ;direction:ltr; top: 35px; position: absolute; right:0px; border: 1px solid #B2B2B2; width: 300px;  height: auto; max-height:270px; min-height:85px; z-index: 99999; float:right;
 display:none; list-style: none; background-color: #ffffff; border-color: #ccc; border-color: rgba(0, 0, 0, 0.2); border-style: solid; border-width: 1px;
-webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip: padding-box; -moz-background-clip: padding;}
#search_container .txtbox{ border:0; width:290px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);}
#search_container .saerch_value { width:100%; text-align:center; border-bottom:1px solid #B2B2B2;}
#search_container #saerch_result{overflow-Y:auto; max-height:220px;text-align: center;}
.txt_search{background:url(../images/find.png) 2px 1px no-repeat;}
.search_result .row{border-bottom:1px dotted #cccccc; width: 100%; cursor:pointer;}
.search_result .row table{margin:0px;}
.search_result .name,.id{font-size:12px; text-align:left; color:#1491ff; display:inline-block;}
.search_result .id{padding-left:10px; padding-right:5px; color:#000000; display:inline-block;}
.search_result .job{font-size:10px; padding-right:5px; color:#929090; display:inline-block; text-align:right;}
.search_result .img {background-color:#ffffff; margin-right:10px; border:1px solid #929090; width:auto; height:auto;}
.search_result .img img{width:40px; height:40px;}


/*Search in Reports*/
#search_container_Item{overflow-x:no-display ;direction:ltr; top: 35px; position: absolute; right:0px; border: 1px solid #B2B2B2; width: 300px;  height: auto; max-height:270px; min-height:85px; z-index: 99999; float:right;
 display:none; list-style: none; background-color: #ffffff; border-color: #ccc; border-color: rgba(0, 0, 0, 0.2); border-style: solid; border-width: 1px;
-webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip: padding-box; -moz-background-clip: padding;}
#search_container_Item .txtbox{ border:0; width:270px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);}
#search_container_Item .saerch_value { width:100%; text-align:center; border-bottom:1px solid #B2B2B2;}
#search_container_Item #saerch_result_Item{overflow-Y:auto; max-height:220px;text-align: center;}
.rowItem{margin-right:2px;border-bottom:1px dotted #000000; width: 100%; cursor:pointer;height:23px;}
.saerch_result_Item .rowItem table{margin:0px;}
.saerch_result_Item .Itemname,.Itemid{font-size:12px; text-align:left; color:#1491ff; display:inline-block;}
.Itemid{padding-left:10px;  color:#000000; display:inline-block;width:70px;float:left;}
Itemname{width:250px;}
.saerch_result_Item .job{font-size:10px; padding-right:5px; color:#929090; display:inline-block; text-align:right;}
.saerch_result_Item .normal_table tr{ margin-left: 10px;height:20px;}

/*Search in Account Guideness*/

#search_container_Account,#search_container_Account_Store,#search_container_Account_CreditDebitSales,#search_container_Account_Debit_DebitSales,
#search_container_Account_CreditCashSales,#search_container_Account_Debit_CashSales {overflow-x:no-display ;direction:ltr; top: 35px; position: absolute; right:0px; border: 1px solid #B2B2B2; width: 300px;  height: auto; max-height:270px; min-height:85px; z-index: 99999; float:right;
 display:none; list-style: none; background-color: #ffffff; border-color: #ccc; border-color: rgba(0, 0, 0, 0.2); border-style: solid; border-width: 1px;
-webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip: padding-box; -moz-background-clip: padding;}

#search_container_Account .txtbox,#search_container_Account_Store .txtbox,#search_container_Account_CreditDebitSales .txtbox,#search_container_Account_Debit_DebitSales .txtbox,
#search_container_Account_CreditCashSales .txtbox,#search_container_Account_Debit_CashSales .txtbox{ border:0; width:270px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);}

#search_container_Account .saerch_value,#search_container_Account_Store .saerch_value,#search_container_Account_CreditDebitSales .saerch_value,
#search_container_Account_Debit_DebitSales .saerch_value,#search_container_Account_CreditCashSales .saerch_value,#search_container_Account_Debit_CashSales .saerch_value { width:100%; text-align:center; border-bottom:1px solid #B2B2B2;}

#search_container_Account #saerch_result_Account {overflow-Y:auto; max-height:220px;text-align: center;}
#search_container_Account_Store #saerch_result_Account_Store{overflow-Y:auto; max-height:220px;text-align: center;}
#search_container_Account_CreditDebitSales #saerch_result_Account_CreditDebitSales{overflow-Y:auto; max-height:220px;text-align: center;}
#search_container_Account_Debit_DebitSales #saerch_result_Account_Debit_DebitSales{overflow-Y:auto; max-height:220px;text-align: center;}
#search_container_Account_CreditCashSales #saerch_result_Account_CreditCashSales{overflow-Y:auto; max-height:220px;text-align: center;}
#search_container_Account_Debit_CashSales #saerch_result_Account_Debit_CashSales{overflow-Y:auto; max-height:220px;text-align: center;}

.rowAccount{margin-right:2px;border-bottom:1px dotted #000000; width: 100%; cursor:pointer;height:23px;}
.saerch_result_Account .rowAccount table{margin:0px;}
.saerch_result_Account .name,.code{font-size:12px; text-align:left; color:#1491ff; display:inline-block;}
.code{padding-left:10px;  color:#000000; display:inline-block;width:70px;float:left;}
name{width:250px;}
.saerch_result_Account .normal_table tr{ margin-left: 10px;height:20px;}



/* ajax loading */

.loading_cont{background-color: #ffffff; filter: alpha(opacity=80);opacity: 0.8; width:100%; height:100%; position:absolute; top:0px; text-align:center; display:none;}



/* date calender */
.date_calender{ display:inline-block; margin-top:5px; margin-bottom:5px; width:208px; background:url(../images/date_calender.png) 2px 2px no-repeat; padding:4px 0 0 0; border:1px solid #c2c2c2; height:22px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;-moz-transition: border linear 0.2s, box-shadow linear 0.2s;-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;transition: border linear 0.2s, box-shadow linear 0.2s;	-webkit-border-radius: 3px	-moz-border-radius: 3px;	border-radius: 3px;}
.date_calender input{color:#000000; margin-top:-2px; background-color:Transparent; border:0; font-family:myfont; font-size:11px; font-weight:normal;  position:absolute;  height:15px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);}
.date_calender .date { cursor:pointer; padding-right:85px; text-align:right; width:120px;}
.date_calender .day { padding-right:30px; text-align:center; width:50px; }
.cal_Theme1 .ajax__calendar_container   { background-color: #DEF1F4;border:solid 1px #77D5F7;width:200px;margin-top:7px;}
.cal_Theme1 .ajax__calendar_header  {background-color: #ffffff;margin-bottom: 4px;}
.cal_Theme1 .ajax__calendar_next,.cal_Theme1 .ajax__calendar_prev {color: #004080;padding-top: 3px;}
.cal_Theme1 .ajax__calendar_title{ text-align:center; padding-top:3px;}
.cal_Theme1 .ajax__calendar_body {background-color: #ffffff;border: solid 1px #77D5F7;}
.cal_Theme1 .ajax__calendar_dayname {text-align:center;font-size:9px; margin-bottom: 4px;margin-top: 2px;color: #000000;}
.cal_Theme1 .ajax__calendar_month {color: #004080;text-align:center; font-size:9px;}
.cal_Theme1 .ajax__calendar_day {color: #004080;text-align:center; font-family:Arial; font-size:12px;}
.cal_Theme1 .ajax__calendar_year {color: #004080;text-align:center; font-family:Arial; font-size:12px;}
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme1 .ajax__calendar_active  {color: #cc0033;font-weight: bold;background-color: #DEF1F4;}
.cal_Theme1 .ajax__calendar_today   {font-weight:bold;text-align:center;}
.cal_Theme1 .ajax__calendar_other,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {color: #cc0033;}


.printbtn {background-color:Transparent; font-size:13px; font-family:myfont; color:#20BED4;}
.printbtn:hover{color:#cc0033;}
/* others */

.phone {background:url(../images/phone.png) 2px 1px no-repeat; font-family:Arial; font-weight:bold; font-size:13px;}
.mobile {background:url(../images/mobile.png) 2px 1px no-repeat;}


/*reporting service*/

.report_field {width:100%; float:right; }
.field_name {direction:ltr; text-align:right; float:right; width:auto; padding:10px; color:#309fe4; font-size:13px;}
.field_name .help { cursor:pointer; padding-right:15px; margin-top:5px;}
.field_name img { padding-left:10px;}
.field_controls {float:left; width:auto; padding:4px; font-size:12px;}
.field_controls .btn-group {float: left; margin-left:-10px; margin-top:4px; }
.field_controls .dropdown-toggle {background: none; border:1px solid #cccccc; outline:none; height:25px; margin-top:1px; width:65px; margin-left:20px; }
.field_controls .dropdown-toggle img{padding-left:5px;}
.field_controls .dropdown-menu {width:120px; cursor:pointer; font-size:10px; direction:ltr; margin-left:4px;}

.download { float:left; direction:rtl; font-family:myfont; margin-top:-20px; height:35px;}
.download .profileimg{margin-top:-5px; padding-left:10px;}
.download .dropdown-menu {font-size: 10px;}
.download .dropdown-toggle {height:14px; font-size: 10px;}
.download .dropdown-toggle .caret {margin-top:5px; padding-left:2px;}
.download .dropdown-menu { width:140px;}
.download .dropdown-menu li { text-align:left;}
.download .dropdown-menu li .imgbtn{ background-color:Transparent; width:140px; text-align:left; padding-left:10px;}
.download .dropdown-menu li:hover .imgbtn{ color:#ffffff;}
.download .dropdown-menu img { display:inline-block; padding-right:10px;}
.download .name{padding-left:8px; margin-top:-4px; font-size:11px;}

.report_container {position:relative; height:420px;}
.report_loadImg { position:absolute; z-index: 999999; }
.report_loadImg div { display: table-cell;width: 820px; height: 405px; background: #fff; text-align: center; vertical-align: middle; }
